<script src="../employee-report/employee-report.component.ts"></script><h1>New Employee</h1>
<!--<mat-card>-->
<!--  <mat-card-title>Employee Info</mat-card-title>-->
<!--  <br>-->
<!--  <mat-card-content (focusout)="onBlurEmployeeInfoCard()" [formGroup]="employeeInfo">-->

<!--  </mat-card-content>-->
<!--</mat-card>-->

<mat-vertical-stepper [linear]="true">
  <mat-step label="Employee Info" [formGroup]="employeeInfo" [stepControl]="employeeInfo">
    <mat-form-field>
      <mat-label>SSN*</mat-label>
      <label>
        <input matInput formControlName="employeeSSN">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field >
      <mat-label>First Name*</mat-label>
      <label>
        <input matInput formControlName="firstName">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Middle Initial</mat-label>
      <label>
        <input matInput formControlName="middleInitial">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field >
      <mat-label>Last Name*</mat-label>
      <label>
        <input matInput formControlName="lastName">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Birth date</mat-label>
      <label>
        <input matInput [matDatepicker]="birthDate" formControlName="birthDate">
      </label>
      <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
      <mat-datepicker #birthDate></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field >
      <mat-label>Address</mat-label>
      <label>
        <input matInput formControlName="address">
      </label>
    </mat-form-field>
    <p class="color-normal">Sex</p>
    <mat-radio-group aria-label="Select an option" formControlName="sex">
      <mat-radio-button value="M" color="primary" style="padding-right: 1em; color: white;">Male</mat-radio-button>
      <mat-radio-button value="F" color="primary" style="color: white;">Female</mat-radio-button>
    </mat-radio-group>
    <br><br>
    <mat-form-field >
      <mat-label>Salary*</mat-label>
      <label>
        <input type="number" matInput formControlName="salary">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field >
      <mat-label>Supervisor SSN</mat-label>
      <label>
        <input matInput formControlName="supervisorSSN">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field >
      <mat-label>Department Number*</mat-label>
      <label>
        <input type="number" matInput formControlName="departmentNumber">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field >
      <mat-label>Email</mat-label>
      <label>
        <input matInput formControlName="email">
      </label>
    </mat-form-field>
    <br>
  </mat-step>
  <mat-step label="Assign to Projects" [formGroup]="hoursFormGroup" [stepControl]="hoursFormGroup">
    <table mat-table [dataSource]="projects" style="width: 100%;" (focusout)="onFocusoutHoursTable()">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="projectNumber">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.projectNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
      </ng-container>

      <ng-container matColumnDef="projectHours">
        <th mat-header-cell *matHeaderCellDef> Hours* </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field style="width: 4em;">
            <input type="number" matInput formControlName="{{element.projectNumber}}">
          </mat-form-field>
        </td>
<!--        <td mat-cell *matCellDef="let element"> {{element.projectHours}} </td>-->
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="projectTableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: projectTableColumns;"></tr>
    </table>
    <br>
    <span *ngIf="hoursFormGroup.invalid" class="alert-danger">* Total hours must be <= 40 and hours column cannot be negative or undefined</span>
  </mat-step>

  <mat-step label="Add Dependents">
    <!--    ['dependentName', 'sex', 'birthDate', 'relationship'];-->

    <form [formGroup]="dependentsFormGroup">
      <mat-form-field>
        <mat-label>Name*</mat-label>
        <label>
          <input matInput formControlName="dependentName">
        </label>
      </mat-form-field>
      <br>
<!--      dependentsFormGroup.controls.sex.invalid-->
      <p class="color-normal">Sex*</p>
      <mat-radio-group aria-label="Select an option" formControlName="sex">
        <mat-radio-button value="M" color="primary" style="padding-right: 1em; color: white;">Male</mat-radio-button>
        <mat-radio-button value="F" color="primary" style="color: white;">Female</mat-radio-button>
      </mat-radio-group>
      <br><br>
      <mat-form-field>
        <mat-label>Birth date</mat-label>
        <label>
          <input matInput [matDatepicker]="dependentBirthDate" formControlName="birthDate">
        </label>
        <mat-datepicker-toggle matSuffix [for]="dependentBirthDate"></mat-datepicker-toggle>
        <mat-datepicker #dependentBirthDate></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field >
        <mat-label>Relationship</mat-label>
        <label>
          <input matInput formControlName="relationship">
        </label>
      </mat-form-field>
    </form>
    <button mat-stroked-button (click)="onClickButtonAddDependent()">Add dependent</button>
    <br>
    <table *ngIf="newDependents.length > 0" mat-table [dataSource]="newDependentsTableSource" style="width: 100%;">

      <ng-container matColumnDef="dependentName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.dependentName}} </td>
      </ng-container>

      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef> Sex </th>
        <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
      </ng-container>

      <ng-container matColumnDef="relationship">
        <th mat-header-cell *matHeaderCellDef> Relationship </th>
        <td mat-cell *matCellDef="let element"> {{element.relationship}} </td>
      </ng-container>

      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef> Birth Date </th>
        <td mat-cell *matCellDef="let element"> {{getReadableDate(element.birthDate)}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="dependentTableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: dependentTableColumns;"></tr>
    </table>
  </mat-step>
  <mat-step label="Done">
    <button mat-stroked-button (click)="onClickButtonCreateEmployee()">Create Employee</button>
  </mat-step>
</mat-vertical-stepper>
<span class="color-normal">Fields marked with * are required</span>

<!--<mat-card>-->
<!--  <mat-card-title>Assign to Projects</mat-card-title>-->
<!--  <br>-->
<!--  <mat-card-content>-->

<!--  </mat-card-content>-->
<!--</mat-card>-->
